.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

uefimount/
vc140.pdb
NvVars
*.efi
*.iso
*.log
.cache/
.tags/
tags
.cscope/
cscope.out
cscope.out.*
out/
build/
build-*/
compile_commands.json

# Linux port build
ReBarState/build-linux/
*.patch
